/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.no-needed-title {

  text-decoration: none;
  color: #202020;

}

h1, h2 {

  margin-top: 20px;
  margin-left: 20px;
  color: #202020;

}

table {

  margin-top: 15px;
  margin-left: 30px;

}

td {

  padding: 5px 0;
  text-align: left;

}

.titletd {

  width: 250px;
  margin-top: 1%;
  margin-left: 5%;
  color: #202020;

}

thead {

  text-align: center;

}

th {

  width: 500px;

}

.linkto {

  padding: 0 3px;
  color: #202020;

}

.linkto:hover {

  background-color: black;
  color: white;

}

.form {

  margin-top: 15px;
  margin-left: 30px;

}

.submitbtn {

  width: 100px;

  height: 25px;

  margin: 10px 0;

}

.pbody {

  margin-top: 5px;

}

.sentence {

  margin-top: 30px;
  margin-left: 60px;
  color: #202020;

}

.show-links {

  margin-left: 30px;

}

.errors-box {

  margin: 15px;
  margin-left: 30px;
  width: 450px;
  /*background-color: #eeeeee;*/
  /*border: solid red;*/

}

.errmsgbox {


  border: solid red;

}

.errtitle > b {

  padding-left: 15px;
  color: white;

}

.errtitle {

  width: 450px;
  background-color: #ff7f7f;
  border-top: solid red;
  border-left: solid red;
  border-right: solid red;

}


.errmsgbox > ul {

  padding: 10px 0;
  margin-left: 80px;

}